:root {
  box-sizing: border-box;
  --text: #000000;
  --background: #f1efef;
  --primary: #eb992d;
  --secondary: #3d0b0f;
  --accent: #eb3a2d;
  background-color: var(--background);
  color: var(--text);
  font-family: Helvetica;
}


body {
  margin: 0;
}

